<form id="form" action="" method="GET">
  <div>
    <label>Name:</label>
    <input id="name" name="name" type="text" placeholder="  NAME" />
  </div>
  <div>
    <label id="email" name="email">Email:</label>
    <input id="email" name="email" type="text" placeholder="  EMAIL" />
  </div>
  <div>
    <textarea id="message" name="message" placeholder=" Write us a message..."></textarea>
  </div>
  <div>
    <input name="send" type="submit" value="Submit" id="send" />
  </div>
</form>