<div class="grid grid-pad">
	<div class="col-1-1">
		<div class="content" id="main-page">
			<h1><span id="hi">Hi!</span></h1>
			<h1>I'm a full-stack developer based in Philly.</h1>
			<p>I’m interested in building products that turn data into meaningful information and useful services. I fell for the web as an English PhD when I taught myself JavaScript so I could build the <a href="http://digitalsel.org/" target="_blank" id="sel-link">Digital South English Legendary</a>, an application designed to avoid the limitations and biases of print editions by allowing users to select and interact with multiple versions of a manuscript at once. That project made me want to shift my career to the web and focus on building tools that empower users to better understand and take part in the world around them.</p>
			<p>In 2015, I left teaching to learn web development full-time. Now I’m ready to bring my skills as a developer who can also write, teach, research, and communicate to a diverse organization with ambitious projects and a collaborative team. Hire me and you’ll find that I’m extremely self-motivated, love solving new problems, and never met a language—JavaScript, Ruby, Old Norse, Latin, you name it—that I didn’t want to learn.</p>
      <ul class="social-media">
        <li><a href="https://twitter.com/william_ellet" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a></li>
        <li><a href="https://github.com/webolton" target="_blank"><i class="fa fa-github-square fa-3x"></i></a></li>
        <li><a href="https://www.linkedin.com/profile/view?id=AAIAABphtf4B1kTRPy2nDuW4x-DXX2-F3bP8G_0&trk=nav_responsive_tab_profile" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a></li>
      </ul>
    </div>
	</div>
</div>
