<div class="grid grid-pad">
      <div class="col-1-1">
        <div class="content" id="main-page">
          <h1><span id="hi">Thanks!</span></h1>
          <h1>I will get back to you as soon as I can!</h1>
          <div id="thanks-pad"></div>
        </div>
      </div>
    </div>